name: build

on:
  push:
    branches:
    - master
    paths:
    - 'go.mod'
    - 'go.sum'
    - '*.go'
    - '*/*.go'
    - '*/*/*.go'
    - '*/*/*/*.go'
    - '*/*/*/*/*.go'
    - '*/*/*/*/*/*.go'
    - '*/*/*/*/*/*/*.go'
    - '*/*/*/*/*/*/*/*.go'
  pull_request:
    branches:
    - master
    paths:
    - 'go.mod'
    - 'go.sum'
    - '*.go'
    - '*/*.go'
    - '*/*/*.go'
    - '*/*/*/*.go'
    - '*/*/*/*/*.go'
    - '*/*/*/*/*/*.go'
    - '*/*/*/*/*/*/*.go'
    - '*/*/*/*/*/*/*/*.go'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
      GOLANGCI_LINT_VERSION: v1.58.0

    steps:
    - name: Check out code
      uses: actions/checkout@v5
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.23.0
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.58.0
    - name: Test
      run: go test -failfast -race

  build_docker_image:
    name: Build Docker image from latest tag
    runs-on: ubuntu-latest
    steps:
    - name: Build image
      run: docker build https://github.com/bojand/ghz.git
      env:
        DOCKER_BUILDKIT: '1'
